<div id="join-lobby-page">
    <section class="section has-text-centered-mobile">
        <img class="sectionImage"
        src="/assets/images/blurryMountainsLofi.jpg"
        [lazyLoad]="'/assets/images/winter-bg.jpg'" />
        <div class="overlay"></div>
        <div class="container">
            <h2 class="animated fadeIn">Starting Painting Now!</h2>
            <div class="columns animated fadeInUp">
                <div class="column">
                    <h4 class="left-header">Join lobby by ID</h4>
                    <form class="join-lobby-form" (submit)="joinLobby(joinLobbyForm)" #joinLobbyForm="ngForm" novalidate>
                        <div class="field has-addons">
                            <label class="label is-small sr-only">Lobby ID</label>
                            <div class="control has-icons-left" [ngClass]="{'ready': !lobbyId.hasError('required')}">
                                <input class="input" type="text" name="lobbyId" placeholder="Lobby ID" [(ngModel)]="form.lobbyId" #lobbyId="ngModel" required>
                                <span class="icon is-small is-left">
                                    <fa name="key"></fa>
                                </span>
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-primary">Join Lobby</button>
                            </div>
                            <div class="help is-danger" *ngIf="joinLobbyForm.submitted && lobbyId.hasError('required')">Please enter a lobby ID.</div>
                        </div>
                        <div class="field" *ngIf="formError">
                            <div class="help is-danger">{{formError}}</div>
                        </div>
                    </form>
                </div>
                <div class="column" [ngClass]="{'has-text-centered': userLoggedIn}">
                    <h4>Join a random lobby.</h4>
                    <button class="button is-primary" (click)="joinRandomLobby()">Join Lobby</button>
                </div>
                <div class="column" *ngIf="userLoggedIn">
                    <h4>Create a lobby.</h4>
                    <div class="button is-primary" (click)="createLobby()">Create Lobby</div>
                </div>
            </div>
        </div>
    </section>
</div>
