<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" routerLink="/">
                <img src="/assets/images/bobrosscutout.png" alt="Logo" border="1"/>
            </a>

            <button class="button navbar-burger" (click)="ButtonClick = !ButtonClick">
                <span></span>
                <span></span>
                <span></span>
            </button>

        </div>
        <div class="navbar-menu" [ngClass]="{'is-active':ButtonClick}">
            <div class="navbar-end">
                <a class="navbar-item" routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">Home</a>
                <a class="navbar-item" routerLink="/lobby" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">Lobby</a>
                <a class="navbar-item" routerLink="/account" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" *ngIf="userLoggedIn">Account</a>
                <a class="navbar-item" routerLink="/register" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" *ngIf="!userLoggedIn">Register</a>
                <a class="navbar-item" routerLink="/login" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" *ngIf="!userLoggedIn">Login</a>
            </div>
        </div>
    </div>
</nav>
