.app-canvas {
    display: block;
    width: auto;
    height: auto;
    &.read-only {
        pointer-events: none;
        width: auto;
        .tools-wrapper {
            display: none;
        }
        .color-selectors {
            display: none;
        }
        .canvas-inner .rest-of-container {
            width: 100%;
        }
        .canvas-target {
            width: 100%;
            height: auto;
            svg {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    .canvas-target {
        border: 1px solid #000;
        max-width: 500px;
        max-height: 500px;
    }
}

.canvas-inner {
    font-size: 0;
    > div {
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        &.tools-wrapper {
            width: 100px;
            margin-top: 75px;
        }
        &.rest-of-container {
            width: calc(100% - 100px);
        }
    }
}

.tools {
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    .tool {
        margin-bottom: 5px;
        margin-left: 5px;
        width: 40px;
        height: 40px;
    }
}

.color-selectors {
    margin-bottom: 0;
    input {
        max-width: 70px;
    }
    .field {
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        display: inline-block;
    }
}

button {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.brushSize {
  margin-top: 15px;
  margin-left: 5px;
}
