<div class="app-canvas" *ngIf="canvasElementId" [ngClass]="{'read-only': isReadOnly}">

    <div class="canvas-inner">
        <div class="tools-wrapper">
            <div class="tools">
                <div class="tool button is-primary is-outlined" [ngClass]="{'is-active': activeTool.name === tool.name}" *ngFor="let tool of tools" placement="top" ngbTooltip="{{tool.name}}" (click)="activateTool(tool)"><fa name="{{tool.icon}}"></fa></div>
            </div>
            <p class="brushSize" *ngIf="activeTool">Brush: {{this.activeTool.tool.strokeWidth}}</p>
            <div class="tools">
                <button class="button is-primary is-outlined" (click)="decBrush()" placement="bottom" ngbTooltip="decrement"><i class="fa fa-minus"></i></button>
                <button class="button is-primary is-outlined" (click)="incBrush()" placement="bottom" ngbTooltip="increment"><i class="fa fa-plus"></i></button>
                <button class="button is-primary is-outlined" (click)="undoButton()" placement="bottom" ngbTooltip="undo"><i class="fa fa-undo"></i></button>
                <button class="button is-primary is-outlined" (click)="redoButton()" placement="bottom" ngbTooltip="redo"><i class="fa fa-repeat"></i></button>
                <button class="button is-primary is-outlined" (click)="clearButton()" placement="bottom" ngbTooltip="clear"><i class="fa fa-times"></i></button>
                <button class="button is-primary is-outlined" (click)="savePainting()" placement="bottom" ngbTooltip="clear" *ngIf="user">Save</button>
            </div>
        </div>
        <div class="rest-of-container">
            <div class="color-selectors">
                <div class="field">
                    <label>Brush Color</label>
                    <div class="control">
                        <input [(colorPicker)]="brushColor"
                        [style.background]="brushColor"
                        style="color: #FFF"
                        [value]="brushColor"
                        [cpPosition]="'left'"
                        class="input"
                        (colorPickerChange)="brushColorChange($event)"
                        readonly/>
                    </div>
                </div>
                <div class="field">
                    <label>Shape Fill Color</label>
                    <div class="control">
                        <input [(colorPicker)]="secondaryColor"
                        [style.background]="secondaryColor"
                        style="color: #FFF"
                        [value]="secondaryColor"
                        [cpPosition]="'left'"
                        class="input"
                        (colorPickerChange)="secondaryColorChange($event)"
                        readonly/>
                    </div>
                </div>
                <div class="field">
                    <label>Background Color</label>
                    <div class="control">
                        <input [(colorPicker)]="backgroundColor"
                        [style.background]="backgroundColor"
                        style="color: #FFF"
                        [value]="backgroundColor"
                        [cpPosition]="'left'"
                        class="input"
                        (colorPickerChange)="backgroundColorChange($event)"
                        readonly/>
                    </div>
                </div>
            </div>
            <div class="canvas-target">
                <div [attr.id]="canvasElementId"></div>
                <div class="notification is-danger" *ngIf="savePaintingError">{{savePaintingError}}</div>
                <div class="notification is-primary" *ngIf="savePaintingSuccess">{{savePaintingSuccess}}</div>
            </div>
        </div>
    </div>
</div>
