<div class="app-canvas">
  <input [(colorPicker)]="brushColor"
  [style.background]="brushColor"
  style="color: #FFF"
  [value]="brushColor"
  [cpPosition]="'left'"
  (colorPickerChange)="brushColorChange($event)"
  readonly/>

 <!-- NEW CODE -->
  <button class="button is-primary" (click)="decBrush()"> - </button>
  <button class="button is-primary" (click)="incBrush()"> + </button>
  <button class="button is-primary" (click)="undoButton()"> ← </button>
  <button class="button is-primary" (click)="redoButton()"> → </button>
  <p> Brush Size: {{this.activeTool.tool.strokeWidth}} </p>

    <div id="my-canvas"></div>
    <div class="tools">
      <div class="tool button is-primary" [ngClass]="{'is-active': activeTool.name === tool.name}" *ngFor="let tool of tools" (click)="activateTool(tool)"><fa name="{{tool.icon}}"></fa></div>
    </div>
</div>
