.read-only {
    pointer-events: none;

    & :not(.canvas-target) {
        display: none;
    }
}

.app-canvas {
    display: block;
    width: 500px;
    height: auto;
}

.canvas-target {
    border: 1px solid #000;
    min-height: 500px;
    min-width: 500px;
}

.tools {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
    .tool {
        margin-bottom: 5px;
        margin-left: 5px;
        width: 40px;
        height: 40px;
    }
}

.color-selectors {
    margin-right: 5px;
    display: block;
    .field:not(:last-of-type) {
        margin-right: 10px;
    }
    input {
        max-width: 70px;
    }
}

.flexbox-container {
  display: flex;
}

.rest-of-container {
  flex: 2;
}

button {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  margin-left: 5px;
}
