<div id="lobby" *ngIf="okToJoin">
    <div class="notification is-primary random-quote has-text-centered">
        <h2 class="subtitle" >{{testString}}</h2>
    </div>
    <main class="section">
        <div class="container is-fluid">
            <section class="top-bar">
                <div class="top-bar-inner columns">
                    <div class="column left">
                        <h1 class="title">{{roomName ? roomName : 'Lobby'}}</h1>
                        <div class="share-url">
                            <button class="button" ngxClipboard [cbContent]="shareUrl">Copy Share URL</button>
                        </div>
                    </div>
                    <div class="column right has-text-right-tablet">
                        <div *ngIf="isPrivate">Private Room</div>
                        <h4>Number of users: {{numberOfUsers}}</h4>
                        <div class="users">
                            <div class="user" *ngFor="let user of users">{{user.user.username}}, painting since {{user.timeJoined | inRoomSince}}</div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Main Painting area -->
            <section class="columns main-painting-area">

                <!-- Left column -->
                <div class="column is-two-fifths main-painting-area__stream">
                    <!-- Stream Video -->
                    <app-stream-embed></app-stream-embed>

                    <!-- Friends Canvases -->
                    <div class="other-canvases">
                      <div class="lobby-canvases" *ngFor="let user of getOtherUsersInLobby()">
                          <h4 class="other-user-info has-text-primary has-text-weight-bold">{{user.user.username}}</h4>
                          <app-canvas [socket]="socket" [user]="user.user" [isReadOnly]="true"></app-canvas>
                      </div>
                    </div>
                </div>

                <!-- Right Column -->
                <div class="column is-three-fifths main-painting-area__drawing">
                    <app-canvas [socket]="socket" [user]="user"></app-canvas>
                </div>


            </section>
        </div>
    </main>
    <chat [socket]="socket" [user]="user" [messages]="messages"></chat>
</div>

<div *ngIf="!okToJoin" class="loading">
  <div class="donut">
  </div>
</div>

<!-- Overlay to tell mobile users to rotate device -->
<div class="mobile-portrait-overlay" (click)="overlayClick()">
  <div class="modal-content box">
    <h1>Please rotate the device to landscape. 📱</h1>
  </div>
</div>
