#lobby {
    h1 {
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        margin: 0 0 10px;
        line-height: 1;
    }
    .section {
        padding-left: 0;
        padding-right: 0;
        padding-top: 2rem;
    }
}

.share-url {
    display: flex;
    max-width: 500px;
    align-items: center;
    input {
        margin: 0 10px 0 0;
    }
}

.main-painting-area {
    align-items: center;
    margin-bottom: 50px;
}

.lobby-canvases {
    list-style: none;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.random-quote{
    font-weight: bold;
    margin: 0;
    border-radius: 0;
}

.app-stream-embed{
    padding-top: 300px;
}
