#lobby {
    h1 {
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        margin: 0 0 10px;
        line-height: 1;
    }
    .section {
        padding-left: 0;
        padding-right: 0;
        padding-top: 2rem;
        padding-bottom: 10vh;

        @media only screen and (max-height: 500px) and (orientation: landscape) {
          padding-top: 5px;
        }
    }
}

.share-url {
    display: flex;
    max-width: 500px;
    align-items: center;
    input {
        margin: 0 10px 0 0;
    }
}

.random-quote{
    font-weight: bold;
    margin: 0;
    border-radius: 0;

    @media only screen and (max-height: 500px) and (orientation: landscape) {
      display: none;
    }
}

.other-user-info {
    font-size: 18px;
    margin-bottom: 10px;
}

.main-painting-area {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    &__stream {
      max-width: 40%;
    }

    &__drawing {
      max-width: calc(60% - 10px);

      // Hide on mobile portrait
      @media all and (orientation: portrait) {
        display: none;
      }
    }

    .other-canvases {

      min-height: 10vh;
      margin-top: 10px;
      margin-bottom: 10px;

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;

      .lobby-canvases {
          width: 30%;
          padding: 0px;

        .other-user-info {
          word-wrap: break-word;
          font-size: 0.75rem;
        }
      }
    }

    .app-stream-embed{
        padding-top: 300px;
    }
}

chat {
    position: fixed;
    bottom: 0;
    background: #fff;
    right: 20px;
    min-width: 300px;
    z-index: 100;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
}

// Overlay for when we are trying to paint in mobile portrait
.mobile-portrait-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  display: none;
  opacity: 0.0;
  transition: opacity, 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2147483646;

  .modal-content {
    pointer-events: none;
    z-index: 2147483647;
  }

  @media all and (orientation: portrait) {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1.0;
  }
}

.users .user {
    .kick {
        margin-right: 5px;
        color: red;
        font-size: 12px;
        display: none;
    }
    &:hover .kick {
        display: inline;
    }
}
