.share-url {
    display: flex;
    max-width: 500px;
    align-items: center;
    input {
        margin: 0 10px;
    }
    label {
        width: 33%;
    }
}

.lobby-canvases {
  list-style: none;
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}
