<div id="lobby" *ngIf="okToJoin">
    <div class="notification is-primary random-quote has-text-centered">
        <h2 class="subtitle" >{{testString}}</h2>
    </div>
    <main class="section">
        <div class="container is-fluid">
            <section class="top-bar">
                <div class="top-bar-inner columns">
                    <div class="column left">
                        <h1 class="title">{{roomName ? roomName : 'Lobby'}}</h1>
                        <div class="share-url">
                            <button class="button" ngxClipboard [cbContent]="shareUrl">Copy Share URL</button>
                        </div>
                    </div>
                    <div class="column right has-text-right-tablet">
                        <div *ngIf="isPrivate">Private Room</div>
                        <h4>Number of users: {{numberOfUsers}}</h4>
                        <div class="users">
                            <div class="user" *ngFor="let user of users">{{user.user.username}}, in room since {{user.timeJoined | inRoomSince}}</div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Main Painting area -->
            <section class="columns main-painting-area">
                <div class="column is-two-fifths">
                    <app-stream-embed></app-stream-embed>
                </div>
                <div class="column is-three-fifths">
                    <app-canvas [socket]="socket" [user]="user"></app-canvas>
                </div>
            </section>

            <!-- Friends Canvases -->
            <section class="other-canvases">
                <ul class="lobby-canvases columns">
                    <li *ngFor="let user of getOtherUsersInLobby()" class="column">
                        <div class="other-user-info">
                            {{user.user.username}}
                        </div>
                        <app-canvas [socket]="socket" [user]="user.user" [isReadOnly]="true"></app-canvas>
                    </li>
                </ul>
            </section>
        </div>
    </main>
</div>
