.control.ready {
    input {
        border-color: $primary;
        &:focus {
            box-shadow: 0 0 0 0.125em rgba($primary, 0.25);
        }
    }
    .is-right, .is-left {
        fa {
            color: $primary;
        }
    }
}

h2, .h2 {
    font-size: 40px;
    font-weight: 700;
    @media (max-width: 768px) {
        font-size: 30px;
    }
}

.read-only {
    .canvas-target {
        svg {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
