<div id="home">
    <div class="backGnd">
        <div class="overlay"></div>
        <div class="container has-text-centered">
            <div class="breathingRoom">
                <h1 class="title">Paint With Bob</h1>
                <h2 class="subtitle">Experience the Joy of Painting with Friends or Strangers!</h2>
                <a class="button is-primary is-inverted is-outlined" routerLink="/register" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" *ngIf="!userLoggedIn">Register</a>
                <a class="button is-primary is-inverted is-outlined" routerLink="/login" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" *ngIf="!userLoggedIn">Login</a>
                <a class="button is-primary is-inverted is-outlined" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">Paint Now</a>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column">
                    <img src='/assets/videos/register.gif'>
                </div>
                <div class="column">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
                <div class="column">
                    <img src='/assets/videos/paint.gif'>
                </div>
            </div>
        </div>
    </section>
</div>
