<div id="home">
    <div class="backGnd">
        <div class="overlay"></div>
        <div class="container has-text-centered">
            <div class="breathingRoom">
                <h1 class="h2 title">Paint With Bob</h1>
                <h2 class="subtitle">Experience the Joy of Painting with Friends or Strangers!</h2>
                <a class="button is-primary is-inverted is-outlined" routerLink="/register" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" *ngIf="!userLoggedIn">Register</a>
                <a class="button is-primary is-inverted is-outlined" routerLink="/login" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" *ngIf="!userLoggedIn">Login</a>
                <a class="button is-primary is-inverted is-outlined" routerLink="/lobby" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">Paint Now</a>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column">
                    <img src='/assets/videos/register.gif'>
                </div>
                <div class="column">
                    Welcome! Join a lobby and paint away! If you want to create a lobby for only you and your friends, make an account, share the link, and paint in privacy!
                </div>
                <div class="column">
                    <img src='/assets/videos/paint.gif'>
                </div>
            </div>
        </div>
    </section>
</div>
