<div id="home">
    <div class="backGnd">
        <img class="backGndImage"
        src="/assets/images/blurryMountainsLofi.jpg"
        [lazyLoad]="'/assets/images/home-bg2.jpg'" />
        <div class="overlay">
        </div>
        <div class="container has-text-centered">
            <div class="breathingRoom">
                <h1 class="h2 title animated fadeInUp">Paint With Bob</h1>
                <h2 class="subtitle animated fadeInUp">Experience the Joy of Painting with Friends or Strangers!</h2>
                <a class="button is-primary is-inverted is-outlined animated fadeInLeft" routerLink="/register" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" *ngIf="!userLoggedIn">Register</a>
                <a class="button is-primary is-inverted is-outlined animated fadeInDown" routerLink="/login" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" *ngIf="!userLoggedIn">Login</a>
                <a class="button is-primary is-inverted is-outlined animated fadeInRight" routerLink="/lobby" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">Paint Now</a>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column">
                  <video autoplay loop muted playsinline>
                    <source src="/assets/videos/register.mp4" type="video/mp4">
                  </video>
                </div>
                <div class="column">
                    Welcome! Join a lobby and paint away! If you want to create a lobby for only you and your friends, make an account, share the link, and paint in privacy!
                </div>
                <div class="column">
                  <video autoplay loop muted playsinline>
                    <source src="/assets/videos/paint.mp4" type="video/mp4">
                  </video>
                </div>
            </div>
        </div>
    </section>
</div>
