<div id="account">
    <section class="section" *ngIf="user">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">Account Page</h1>
                    <h2 class="subtitle">Amazing Account Stuff Here</h2>
                </div>
                <div class="column has-text-right">
                    <div class="button is-primary" (click)="editInfo()">Edit Info</div>
                    <div class="button is-primary" (click)="createLobby()">Create Lobby</div>
                    <div class="button is-primary" (click)="deleteUser()">Delete User</div>
                </div>
            </div>
            <div class="user-details">
                <p><strong>Username:</strong> {{user.username}}</p>
                <p><strong>Email:</strong> {{user.email}}</p>
            </div>
            <div class="help is-danger" *ngIf="createLobbyError">{{createLobbyError}}</div>
        </div>
    </section>
    <section class="section" *ngIf="user">
        <div class="container">
            <h2 class="title">Saved Paintings</h2>
            <div class="is-info" *ngIf="!user.paintings || user.paintings.length === 0">You currently do not have any saved paintings.</div>
        </div>
    </section>
</div>
