#account {
    .section {
        &:first-of-type {
            padding-bottom: 0;
        }
        .btns-wrapper {
            margin-bottom: 10px;
            .button {
                margin-bottom: 10px;
            }
        }
    }
    .paintings .painting {
        display: inline-block;
        margin-bottom: 10px;
        .date {
            margin-bottom: 10px;
        }
        .svg-wrapper {
            border: 1px solid;
        }
    }
}
