<section class="section">
  <div class="container">
    <form (submit)="submit(loginForm)" #loginForm="ngForm" novalidate>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="text" name="email" [(ngModel)]="form.email" #email="ngModel" email required>
        </div>
        <div class="help is-danger" *ngIf="loginForm.submitted && email.hasError('required')">Please enter your email.</div>
        <div class="help is-danger" *ngIf="loginForm.submitted && email.hasError('email') && !email.hasError('required')">Invalid email.</div>
      </div>
      
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" name="password" [(ngModel)]="form.password" #password="ngModel" required>
        </div>
        <div class="help is-danger" *ngIf="loginForm.submitted && password.hasError('required')">Please enter your password.</div>
      </div>
      <div class="field" *ngIf="formError">
        <div class="help is-danger">{{formError}}</div>
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary">Submit</button>
        </div>
      </div>
      
    </form>
  </div>
</section>
