//@import "../../../assets/stylesheets/variables";

.footer {
    padding: 2rem 0 1rem;
    .container {
        color: #fff;
        button {
            margin-bottom: 10px;
        }
    }
}

//Josh TODO: Change from manually choosing colors

.link{
  color: #FFFFFF
}

.link:hover{
  color: #3273DD
}
